<template>
	<div style="position: fixed; bottom: 0; width: 100%;">
		<footer class="main-footer">
    <strong>Copyright © 2014-2021 <a href="http://iotmind.vn/">MIND</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 3.1.0
    </div>
  </footer>
	</div>
</template>

<script>
export default {
}
</script>

<style>
</style>