<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'App',
  created() {
    if(typeof this.$session.get('username') === 'undefined') {
      this.$router.push('/login');
      return false;
    }
  },
}
</script>

<style>
#app {
  /* overflow: hidden; */
}
</style>
